<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REST API's</title>

</head>

<body>
    <center>
        <h2>API's set ....</h2>
    </center>
</body>

</html>